//- modal for delete application confirmation
div(class="modal fade" id="deleteAppModal" tabindex="-1" aria-labelledby="deleteAppModalLabel" aria-hidden="true")
  div(class="modal-dialog modal-dialog-scrollable")
    div(class="modal-content")
        div(class="modal-header")
          h5(class="modal-title" id="deleteAppModalLabel")="Delete Application <ApplicationAcronym>"
          button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")
        div(class="modal-body")
          div(class="container")
            p Are you sure you want to delete this application? This action is irreversible!
            p#deleteAppAcronymText="<ApplicationAcronym>"
        div(class="modal-footer")
          button(type="button" class="btn btn-secondary" data-bs-dismiss="modal")="Cancel"
          button#btn_deleteApp(type="submit" class="btn btn-danger" name="btn_deleteApp" value="<ApplicationAcronym>")="Delete Application"