<!DOCTYPE html>
<html>

   <head>
      <title>HTML Frames</title>
   </head>
	
   <frameset cols = "30%,70%">
      <frame name = "top" src = "" />
      <frame name = "main" src = "/tmsys/a" />
   
      <noframes>
         <body>Your browser does not support frames.</body>
      </noframes>
      
   </frameset>
   
</html>