<!DOCTYPE html>
<html>

   <head>
      <title>HTML Frames</title>
   </head>
	
   <frameset cols = "15%,85%">
      <frame name = "tmsys-frame-left" src = "/tmsys/frame_left" />
      <frame name = "tmsys-frame-main" src = "/tmsys/frame_main" />
   
      <noframes>
         <body>Your browser does not support frames.</body>
      </noframes>
      
   </frameset>
   
</html>